@font-face {
font-family: Kremlin;
src: url('/fanstatic/kotti_t21/kremlin.ttf'); //http://www.fontsquirrel.com/tools/webfont-generator
font-style: normal;
font-weight: normal;
}

body {
    background: #fff;
}

h1 {
  color: #C51A20;
}

h2, h3 {
  color: #315f9b;
}

p img {
    border: 1px solid #ccc;
    padding: 4px;
    margin: 0 1em 1em 1em;
}

h1#logo {
    margin: 20px 0;
    font-size: 340%;
    font-family: "Kremlin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 2px #999;
}

h1#logo a {
    text-decoration: none;
    color: #315F9B;
}

.red {
  color: #C51A20;
}

.rotation {
    margin-bottom: 20px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

p.description {
  font-weight: bold;
  font-size: 2em;
  line-height: 0.9em;
}

div.footer {
  margin-top: 2em;
}

p.footer {
  color: #999;
  margin: 0;
  padding: 10px 15px;
}

.navbar-inverse .nav > li > a.footer {
  color: #08c;
}
